@use "variables" as v;
@use "utils" as u;

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  gap: 16px;

  animation: fadeInTop 0.4s ease-in-out;
  animation-fill-mode: forwards;

  padding: 64px 0;
  @media (max-width: 1135px) {
    padding: 32px 0;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;

    .image {
      display: none;
    }
  }

  .image {
    margin-left: auto;
    background-color: v.$gray-050;
    padding: 64px;

    img {
      margin: auto;
    }

    @media (max-width: 1023px) {
      margin: auto;
      padding: 64px;
      img {
        width: 256px;
        height: auto;
      }
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 16px;
  }

  span {
    color: v.$primary-800;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
  }

  h1 {
    color: v.$gray-900;
    font-size: calc(2rem + 2vw);
  }

  p {
    color: v.$gray-900;
    font-size: calc(1rem + 1vw);
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  gap: 32px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  svg {
    width: 128px;
  }
}

.values {
  li {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 8px;

    margin: 8px 0;

    text-align: left;
  }

  svg {
    fill: v.$primary-800;
    margin: 0;
    width: 24px;
  }
}
