@use "variables" as v;

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 1.2rem;
  border-radius: v.$radius;
  padding: 8px 16px;

  background-color: v.$primary;
  color: white;

  svg {
    fill: white;
  }

  &:hover {
    background-color: v.$primary-light;
    box-shadow: v.$shadow-md;
  }

  &:active {
    background-color: v.$primary-dark;
    box-shadow: none;
  }
}
