@use "variables" as v;

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: v.$radius;
  padding: 8px 16px;

  background-color: v.$primary;
  color: white;

  &:active {
    background-color: v.$primary-dark;
  }
}
