@use "variables" as v;

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: v.$radius;

  min-height: 40px;

  white-space: nowrap;
}

// Variants

.filled {
  background-color: v.$primary-800;
  color: v.$gray-050;

  svg {
    fill: v.$gray-050;
  }

  &:hover {
    box-shadow: v.$shadow-md;
    background-color: v.$primary-700;
  }

  &:active {
    box-shadow: none;
    background-color: v.$primary-900;
  }
}

.text {
  background-color: transparent;
  color: v.$primary-800;

  &:hover {
    box-shadow: v.$shadow-md;
    background-color: v.$gray-300;
  }

  &:active {
    box-shadow: none;
    background-color: v.$secondary-100;
  }
}

// Sizes

.normal {
  padding: 8px 16px;
  font-size: 1.2rem;
}

.large {
  padding: 16px 32px;
  font-size: 1.5rem;
}
