@use "variables" as v;
@use "utils" as u;

.checkboxQuestion {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  legend {
    float: left;
    font-size: u.rem(20);
    text-align: left;
  }

  .optionsContainer {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
