@use "variables" as v;
@use "utils" as u;

.checkboxQuestion {
  display: flex;
  flex-direction: column;
  width: 100%;

  legend {
    float: left;
    margin-bottom: 8;

    font-size: u.rem(20);
    text-align: left;
  }

  .error {
    margin: 8px 0;
  }

  .optionsContainer {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 8px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
