:root {
	--color-primary: #136041;
	--color-primary-light: #478e6c;
	--color-primary-dark: #00351a;

	--color-secondary: #c9e4ca;
	--color-gray: #2f2f2f;
}

body {
	font-family: 'League Spartan', sans-serif;
	scroll-behavior: smooth;

	min-height: 100vh;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	all: unset;
	cursor: pointer;
}

.Button {
	display: flex;
	align-items: center;
	gap: 8px;

	border-radius: 64px;
	padding: 8px 16px;

	background-color: var(--color-primary);
	color: white;

	&:focus,
	&:active {
		background-color: var(--color-primary-dark);
	}
}

@media (min-width: 768px) {
	.hide-desktop {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.hide-mobile {
		display: none !important;
	}
}
