:root {
	--color-primary: #136041;
	--color-primary-light: #478e6c;
	--color-primary-dark: #00351a;

	--color-secondary: #c9e4ca;
	--color-gray: #2f2f2f;
	--color-white: #efefef;
}

body {
	font-family: 'League Spartan', sans-serif;
	scroll-behavior: smooth;

	background-color: var(--color-white);

	width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	all: unset;
	cursor: pointer;
}

.Button {
	display: flex;
	align-items: center;
	gap: 8px;

	border-radius: 28px;
	padding: 8px 16px;

	background-color: var(--color-primary);
	color: white;

	&:active {
		background-color: var(--color-primary-dark);
	}
}
