@use "variables" as v;
@use "utils" as u;

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: v.$radius;

  white-space: nowrap;
}

// Variants

.filled {
  background-color: v.$primary-800;
  color: v.$gray-050;

  svg {
    fill: v.$gray-050;
  }

  &:hover {
    box-shadow: v.$shadow-md;
    background-color: v.$primary-700;
  }

  &:active {
    box-shadow: none;
    background-color: v.$primary-900;
  }
}

.text {
  background-color: transparent;
  color: v.$primary-800;

  &:hover {
    background-color: v.$gray-400;
  }

  &:active {
    box-shadow: none;
    background-color: v.$gray-500;
  }
}

.outlined {
  @extend .text;

  border: 2px solid v.$primary-800;
}

// Sizes

.normal {
  padding: 8px 16px;
  min-height: 40px;
  font-size: u.rem(20);

  &.outlined {
    padding: 6px 14px;
  }
}
