@use "variables" as v;

.start {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px;

  background-color: v.$secondary;
  box-sizing: border-box;
  height: 100vh;
}

.text {
  h1 {
    color: v.$primary;
    font-size: 5em;
    margin: 0;

    text-transform: uppercase;
  }

  p {
    color: v.$gray;
    font-size: 2em;
    margin: 0;
  }
}

.image {
  img {
    width: 100%;
    height: auto;
    border-radius: v.$radius;
  }
}
