@use "variables" as v;
@use "utils";

.start {
  display: flex;
  align-items: center;

  background-color: v.$secondary;
  box-sizing: border-box;
  min-height: calc(100vh - 64px); // Subtrair o valor do header

  @extend %defaultPaddings;
  @extend %defaultGaps;

  // Media queries para ajustar o layout
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;

    .text {
      width: auto;
      text-align: center;

      h1 {
        font-size: calc(3em + 6vw);
      }

      p {
        color: v.$gray;
        font-size: calc(1em + 2vw);
        margin: 0;
      }
    }
  }
}

.text {
  width: min-content;

  h1 {
    color: v.$primary;
    font-size: calc(0.5em + 4.5vw);
  }

  p {
    color: v.$gray;
    font-size: calc(0.5em + 1.5vw);
    margin: 0;
  }
}

.image {
  align-self: center;
  position: relative;
  overflow: hidden;

  border-radius: v.$radius;

  div {
    line-height: 0;
  }

  img {
    width: 100%;
    height: auto;
    top: 0;
  }
}
