@use "variables" as v;
@use "utils";

.serviceCard {
  padding: 0;
  width: 30vw;
  max-width: 512px;
  min-width: 300px;

  .imageContainer {
    display: table;
    line-height: 0;
    border-radius: v.$radius;

    overflow: hidden;
  }

  img {
    transform: translateY(-0.5px); // Para esconder a estranha borda branca que fica

    width: 100%;
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 16px;
    gap: 16px;
  }

  a {
    margin: auto auto 0 auto;
  }
}
