@use "variables" as v;
@use "utils";

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    fill: v.$gray-300;
    display: block;
    position: relative;
    width: calc(150% + 1.3px);
    height: 150px;
  }
}
