@use "variables" as v;
@use "utils";

.content {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: unset;

    width: 100%;
  }

  > a {
    display: contents;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;

  grid-row: 1/4;
  grid-column: 2/3;
  @media (max-width: 767px) {
    grid-row: 1;
    grid-column: 1;
  }

  button {
    margin-left: auto;
  }
}
