@use "variables" as v;
@use "utils";

.contactCard {
  display: grid;
  grid-template-columns: 64px auto;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  svg {
    fill: v.$gray;
    place-self: center;
    width: 64px;
    height: auto;
  }

  p {
    border-bottom: 1px solid;
    transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 40vw;

    &:hover {
      border-color: transparent;
    }
  }
}
