@use "variables" as v;
@use "utils";

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;

  background-color: v.$primary;
  border-radius: v.$radius;

  section {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;

    color: white;
    border-radius: v.$radius;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 4px;
    }

    svg {
      width: 24px;
      height: auto;

      fill: white;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    a {
      margin: 0;

      font-size: 1.1rem;

      border-bottom: 1px solid;
      transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border-color: transparent;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    color: v.$gray;
    background-color: white;
    border-radius: v.$radius;

    padding: 32px;
    gap: 32px;

    h3 {
      color: v.$primary;
      font-size: 1.5rem;
    }

    label {
      display: flex;
      flex-direction: column;

      gap: 4px;
      font-size: 1.2rem;
    }

    input,
    textarea {
      all: unset;

      height: 100%;
      padding: 8px 0;
      font-size: 1.5rem;

      border-bottom: 2px solid v.$gray;
    }

    textarea {
      min-height: 100px;
    }

    label.textarea {
      height: 100%;
    }

    button {
      margin-left: auto;
    }
  }
}
