@use "variables" as v;
@use "utils";

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 16px;

  > a {
    display: contents;
  }
}

.contactCard {
  display: grid;
  grid-template-columns: 64px auto;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  svg {
    fill: v.$gray;
    place-self: center;
    width: 64px;
    height: auto;
  }

  p {
    border-bottom: 1px solid;
    transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: transparent;
    }
  }
}

.contactForm {
  grid-row-start: 1;
  grid-row-end: 4;

  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 4px;
    font-size: 1.2rem;
  }

  input,
  textarea {
    all: unset;

    width: 100%;
    height: 100%;
    padding: 8px 0;
    font-size: 1.5rem;
    text-align: left;

    border-bottom: 2px solid v.$gray;
  }

  textarea {
    min-height: 100px;
  }

  label.textarea {
    height: 100%;
  }

  button {
    margin-left: auto;
  }
}
