@use "variables" as v;

.card {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 16px;

  svg {
    width: 128px;
    margin: 0 auto;

    fill: v.$gray;
  }

  h3 {
    color: v.$primary;
    font-size: 1.5em;
  }

  p {
    margin: 0;

    color: v.$gray;
    font-size: 1.2em;
  }
}
