@use "variables" as v;
@use "utils";

.list {
  @extend %defaultGaps;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;

  @media (max-width: 1180px) {
    gap: 32px;
  }

  @media (max-width: 919px) {
    grid-template-columns: 1fr;
  }

  li {
    @media (max-width: 424px) {
      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }

      svg {
        width: 100%;
      }
    }
  }
}
