@use "variables" as v;
@use "utils";

.differentials {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  box-sizing: border-box;

  .title {
    width: 100%;
    text-align: center;
    box-sizing: border-box;

    @extend %defaultPaddings;
  }

  span {
    padding-bottom: 16px;
    text-transform: uppercase;
    color: v.$primary;
    font-weight: 500;
    font-size: calc(1em + 1vw);
  }

  h2 {
    color: v.$gray;
    font-size: calc(2em + 2vw);
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;

  padding-top: 0;
  @extend %defaultPaddings;
  @extend %defaultGaps;
}

.info {
  display: flex;
  flex-direction: column;

  .iconContainer {
    background-color: v.$secondary;
    border-radius: 50%;
    padding: 64px;
    margin: 0 auto;

    svg {
      fill: v.$primary-light;
      width: 192px;
    }
  }

  img {
    fill: v.$primary-light;
    width: 256px;
  }

  p {
    margin: 0;
    color: v.$gray;
    font-size: 1.3em;

    margin-top: 32px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 32px;
  }

  h3 {
    color: v.$primary;
    font-size: 1.5em;
  }

  p {
    margin: 0;

    color: v.$gray;
    font-size: 1.2em;
  }
}
