%defaultPaddings {
  padding: 64px;

  @media (max-width: 920px) {
    padding: 32px;
  }

  @media (max-width: 425px) {
    padding: 16px;
  }
}

%defaultGaps {
  gap: 64px;

  @media (max-width: 920px) {
    gap: 32px;
  }

  @media (max-width: 425px) {
    gap: 16px;
  }
}

// Animações CSS
// Se possível, previra usar elas do que utilizar o Framer Motion para ter maior desempenho.

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
