@use "variables" as v;

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: v.$white;
  line-height: 1;
  margin: 0;
}

#__next {
  display: contents;
}

h1 {
  font-weight: 800;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
