@use "variables" as v;

html {
  scroll-behavior: smooth;
}

body {
  background-color: v.$white;
  margin: 0;
}

#__next {
  display: contents;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
}
