//colors

$primary: #136041;
$primary-light: #478e6c;
$primary-dark: #00351a;

$secondary: #c9e4ca;
$gray: #2f2f2f;
$white: #efefef;

//others
$animeDuration: 300ms;
$animeTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);
