@use "variables" as v;
@use "utils";

.screen {
  padding: 0;

  .title {
    @extend %defaultPaddings;
  }

  ul {
    @extend %defaultPaddings;
  }
}

@media (min-width: 768px) {
  .screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .title {
    position: sticky;
    top: 0;
    text-align: left;
  }
}
