@use "variables" as v;
@use "utils";

@media (min-width: 768px) {
  .screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .title {
    text-align: left;
  }
}
