@use "variables" as v;
@use "utils" as u;

.h2 {
  font-size: u.rem(60);

  @media (max-width: 768px) {
    font-size: u.rem(48);
  }

  @media (max-width: 425px) {
    font-size: u.rem(36);
  }
}

.h3 {
  color: v.$primary-800;
  font-size: u.rem(24);
}

.p {
  font-size: u.rem(18);
  line-height: 1.2;
}

.strap {
  padding-bottom: 16px;

  color: v.$primary-800;
  font-weight: 500;
  font-size: u.rem(30);

  @media (max-width: 425px) {
    font-size: u.rem(24);
  }
}

.a {
  @extend .p;

  transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid;

  max-width: 40vw;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    border-color: transparent;
  }
}
