@use "variables" as v;
@use "utils";

.custom404 {
  min-height: calc(100vh - 64px); // Subtrair o valor do header

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;

  .image {
    border-radius: v.$radius;
    box-shadow: v.$shadow-md;
    background-color: v.$white;
    padding: 64px 96px;

    img {
      width: 100%;
      height: auto;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
  }

  h1 {
    color: v.$primary;
    font-size: calc(2rem + 2vw);
  }

  p {
    color: v.$gray;
    font-size: calc(1rem + 1vw);
    margin: 0;
  }
}
