@use "variables" as v;
@use "utils" as u;

.error {
  display: flex;
  align-items: center;
  gap: 4px;

  border-radius: 8px;

  background-color: #ffcdd2;
  padding: 16px;

  color: #b71c1c;
  text-align: left;

  a {
    text-decoration: underline;
  }

  div {
    width: 100%;
  }

  svg {
    fill: #b71c1c;
    margin-right: 8px;
  }
}
