@use "variables" as v;
@use "utils" as u;

.container {
  background-color: v.$secondary-100;

  @extend %defaultPaddings;

  padding-top: unset;
  padding-bottom: unset;
}

.header {
  display: grid;
  grid-template-rows: 64px auto;
  grid-template-columns: 1fr 1fr 1fr;

  transform: translateY(-100%);
  animation: slideFromTop 0.4s 0.4s ease-in-out;
  animation-fill-mode: forwards;

  border-radius: 0 0 v.$radius v.$radius;
  background-color: v.$gray-300;
  overflow: hidden;

  font-size: u.rem(20);

  @media (max-width: 856px) {
    grid-template-columns: 1fr 1fr;
  }
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;

  a {
    display: contents;
  }

  .iconWrapper {
    padding: 12px;
    line-height: 0;
  }

  @media (max-width: 292px) {
    .wordmark {
      height: 12px;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;

  @media (max-width: 856px) {
    display: none;
  }
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;

  a {
    margin: 12px;
  }

  @media (max-width: 856px) {
    display: none;
  }
}
