@use "variables" as v;
@use "helpers/animations" as a;
@use "helpers/transitions" as t;

.container {
  position: absolute;
  padding: 0 64px;
  right: 0;
  left: 0;

  animation: slide-from-top 0.3s ease-in-out;

  @media (max-width: 920px) {
    padding: 0 32px;
  }

  @media (max-width: 425px) {
    padding: 0 16px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 64px auto;
  border-radius: 0 0 v.$radius v.$radius;
  background-color: v.$white;
  color: v.$gray;

  font-size: 1.2rem;

  transition: max-height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  max-height: 64px;
  overflow: hidden;

  &.showMobile {
    max-height: 286px;
  }

  @media (max-width: 856px) {
    grid-template-columns: 1fr 1fr;
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: left;

  a {
    display: contents;
  }

  .iconWrapper {
    padding: 12px;
    line-height: 0;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  gap: 16px;

  @media (max-width: 856px) {
    display: none;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: right;

  a {
    margin: 12px;

    &:hover {
      img {
        animation: wiggle-loop 0.3s ease-in-out infinite alternate;
      }
    }
  }

  @media (max-width: 856px) {
    display: none;
  }
}
