@use "variables" as v;

.link {
  display: contents;
  a {
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    color: v.$gray-800;

    text-align: center;
    white-space: nowrap;

    &:hover {
      color: v.$gray-900;
    }
  }
}
