@use "variables" as v;
@use "helpers/transitions" as t;

.menuButton {
  display: flex;
  align-items: center;
  justify-content: right;

  button {
    margin: 8px;
  }

  @media (min-width: 857px) {
    display: none;
  }
}

.menu {
  grid-column: 1/-1;

  padding: 16px 64px;
  margin-top: 0;

  font-size: 1.1rem;

  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    min-height: 24px;
  }

  @media (max-width: 374px) {
    padding: 16px 32px;
  }
}

.button {
  display: contents;
  a {
    margin: auto;
  }
}
