@use "variables" as v;
@use "utils";

.quote {
  h1 {
    text-align: center;
  }

  form {
    max-width: 800px;
  }
}

.controlButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
