@use "variables" as v;
@use "utils";

.title {
  display: grid;
  text-align: center;

  span {
    padding-bottom: 16px;
    color: v.$primary-800;
    font-weight: 500;
    font-size: calc(1rem + 1vw);
  }

  h2 {
    color: v.$gray-900;
    font-size: calc(2rem + 2vw);
  }
}
