@use "variables" as v;
@use "utils" as u;

.formPage {
  .pageTitle {
    width: 100%;
    color: v.$primary-800;
    font-weight: 700;
    font-size: u.rem(32);

    text-align: left;
    text-transform: none;
  }

  .pageDescription {
    margin: 16px 0;
    font-size: u.rem(24);
    text-align: left;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 32px;
}
