@use "variables" as v;
@use "utils" as u;

.card {
  max-width: 768px;
}

.controlButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  gap: 16px;

  @media (max-width: 600px) {
    flex-wrap: wrap-reverse;

    button {
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }

  .skip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    a,
    p {
      text-wrap: wrap;
      text-align: left;
    }
  }
}
