@use "variables" as v;
@use "utils" as u;

.questions {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 32px 0;
}

.textQuestion {
  margin: 32px 0;
}

.checkboxQuestion {
  width: 100%;

  legend {
    margin-bottom: 16px;
    font-size: u.rem(24);
    text-align: left;
  }

  .optionsContainer {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;

  border-radius: 8px;

  background-color: #ffcdd2;
  padding: 16px;

  color: #b71c1c;
  font-size: u.rem(16px);
  text-align: left;

  svg {
    fill: #b71c1c;
    margin-right: 8px;
  }
}
