@use "variables" as v;
@use "utils" as u;

.questions {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 32px 0;
}

.checkboxQuestion {
  legend {
    font-size: u.rem(32);
  }

  .optionsContainer {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
