@use "variables" as v;
@use "utils" as u;

.serviceCard {
  padding: 0;

  width: 30vw;
  min-width: 300px;
  max-width: 512px;

  img {
    // transform: translateY(-0.5px); // Para esconder a estranha borda branca que fica

    width: 100%;
    height: auto;
  }

  a {
    margin: auto auto 0 auto;
  }
}

.imageContainer {
  display: table;
  border-radius: v.$radius;

  overflow: hidden;
  line-height: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  height: 100%;
}

.zoomOnHover {
  @extend %zoomOnHover;
}
