@use "variables" as v;
@use "utils";

.parallaxContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.parallax {
  display: flex;
  width: min-content;

  @extend %defaultPaddings;
  padding-right: 0;
  padding-left: 0;
}
