@use "variables" as v;
@use "utils";

.footer {
  @extend %defaultPaddings;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;

  gap: 16px;
  background-color: v.$gray-900;

  p {
    color: v.$gray-050;
    text-align: center;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
