@use "variables" as v;

.card {
  gap: 16px;
  box-shadow: v.$shadow-md;

  border-radius: v.$radius;
  background-color: v.$gray-050;
  padding: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;

  text-align: start;
}
