@use "variables" as v;
@use "utils";

.textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 4px;
  font-size: 1.2rem;

  input,
  textarea {
    all: unset;

    border-bottom: 2px solid v.$gray-900;
    padding: 8px 0;

    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: left;
  }

  textarea {
    min-height: 128px;
  }
}
